      <!-- Heading for Account data -->
      <div class="form-group hidden-xs hidden-sm" style="margin-bottom:0px">
        <div class="col-sm-offset-3 col-sm-4"><label><%= t( 'people.account_heading' )%></label></div>
      </div>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:0px"/>  
      </div>
