<%- if show_entry.is_visible? || @was_visible %>
  <div class="form-group p-group">
    <%- if depth == 0 %>
      <p class="col-sm-6 p-group">
    <%- elsif depth < 6 %>
      <p class="col-sm-offset-<%= depth %> col-sm-6 p-group">
    <%- else %>
      <p class="col-sm-offset-6 col-sm-6 p-group">
    <%- end %>
    <%- if show_entry.is_visible? %>
    <strong><a href="<%= url_for show_entry %>"><%= sir_entry_heading( show_entry )%></a></strong><br/> 
    <%= display_lines_w_br show_entry.description %>
      <%- @was_visible = true %>
    <%- else %>
      ...
      <%- @was_visible = false %>
    <%- end %>
    </p>
  </div>
<%- end %>