<%- page_title %>
<div class="container">
  <%= breadcrumbs %>
  <%= form_title %>
  <%= form_tag({},{ method: :get }) do %>
    <%- if @location_codes.empty? -%>
      <p>No records to validate.</p>
    <%- else -%>
      <%- @location_codes.each do |lc| -%>
        <p><%= lc.code %></p>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</div>