<% help_title "Help on Global Search for Alternative EDMS Codes"%>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Find a code in any of the alternative EDMS coding tables.</p>
    <p>The Alternate EDMS Code Search feature will search for the given code 
      or part of the long text in the tables containing the codes for the
      alternative EDMS system.</p>
    <p>Each of the above tables will be searched for the given code in
      the code field: The result will contain all codes
      starting with the given string. If the code-specific character prefix
      is omitted, all tables will be searched for the given code (ignoring
      the prefix character).</p>
    <p>When searching for a text, all labels in the above tables will 
      be searched if they include the specified string.</p>
    <p>Please be aware that the search is case-insensitive and that the
      search in the labels will search for <strong>any</strong>
      occurance in the label.</p>
    <%= help_footer FEATURE_ID_A_CODE_SEARCH %>
  </div> <!-- /container -->
