<% help_title 'Contact' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p>For any questions regarding the software, contact info(at)modbase.com</p>
    <p>Send project-specific enquiries to: info(at)pmodbase.com</p>
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
