<% help_title "Help on Feature Responsibilities" %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">Find out who is responsible for which feature.</p>
    <p>If you need to find out which person is responsible for a specific feature,
      you can search here for all accounts which have some permission to modify
      records for the given feature.</p>
    <p>To use this form, select the feature to search for, and click 'Filter'.
      The ID of the selected feature will be displayed next to the selection field.</p>
    <p>The displayed records are filtered by the feature ID displayed to the left of
      the selection field, i.e. if the ID left of the selection field does not match
      the ID in the label of the selection field, you need to click 'Filter' in
      order to update the listing.</p>
    <%= help_footer FEATURE_ID_FEATURE_RESP %>
  </div> <!-- /container -->
