<% help_title 'Welcome' %>
  <div class="container">
      <%= helpcrumbs %>
   	<h1 class="page-header">Welcome to pmodbase - The Project Management Office Database!</h1>
   	<p class="lead">Find here features and tools provided by the Project Management Office (PMO) to support your tasks in our project.</p>
   	<h3>Information and Communication</h3>
   	<p>Every project entity, teams and team members shall have access to general project information:</p>
   	<ul>
   		<li><strong>team rosters</strong> - who is involved in the project</li>
   		<li><strong>responsibilities</strong> - who does what, who can answer specific questions</li>
   		<li><strong>contact information</strong> - how can I reach a specific person</li>
   		<li><strong>addresses</strong> - where is a project party located</li>
   		<li><strong>acronyms and abbreviations</strong> - generally used in the project, for explanation and guidance</li>
   		<li><strong>glossary</strong> - of terms and definitions</li>
   		<li><strong>links</strong> - to other documents and project-related sites</li>
   		<li><strong>codes</strong> - defined for general use, such as locations, document types, products, and the like</li>
   		<li><strong>holidays</strong> - contain information about national and local holidays in the countries of the involved project parties</li>
   	</ul>
   	<h3>Up-to-date Status Information</h3>
   	<p>Various tools and systems are used in the PMO to collect information on scope of the project, the status of various deliverables, submissions,
   	documents, tests, etc. These <strong>Status Registers (xSR)</strong> provide the project management with important information on the status of the project:</p>
   	<ul>
   		<li><strong>ASR - Approvals and Permits</strong> - required from external parties</li>
   		<li><strong>CSR - Correspondence</strong> - incoming and outgoing letters, faxes, memos</li>
   		<li><strong>DSR - Documents</strong> - planned, submitted, approved</li>
   		<li><strong>ESR - Education</strong> - training on the job activities</li>
   		<li><strong>HSR - Human Resources</strong> - planned and actual personnel on the site</li>
   		<li><strong>ISR - Interfaces</strong> - identified interfaces between project parties and their status</li>
   		<li><strong>MSR - Modifications</strong> - requested and approved change requests on the project's scope</li>
   		<li><strong>PSR - Procurement and Manufacturing</strong> - basically the Bill of Quantities and the procurement/manufacturing status of each item to be traced</li>
   		<li><strong>RSR - Requests for Information and Clarification</strong> - incoming and outgoing requests and resolutions</li>
      <li><strong>TIA - Task/Issue/Action Item Lists</strong> - as support for any project management group</li>
   		<li><strong>TSR - Tests</strong> - to trace the planning and execution of tests</li>
   		<li><strong>WSR - Construction and Installation Works</strong> - as overview and input for planning control</li>
   	</ul>
   	<p>The information within all these tools is stored in a central database. This allows consistent data management and
   	up-to-date status information. Regular status reports can be collected and stored for future reference as part
   	of the project's reporting system.</p>
   	<p>Responsible persons are mandated to keep their information updated. This is supported by a discretionary access control
   	system which allows eligible project members to view specified information, and others to update information for which they
   	are responsible for. If an update is found necessary but the current user does not have the specific access rights,
   	he will be able to request the required change to the responsible person.</p>
    <%= help_footer FEATURE_ID_HOME_PAGE %>
  </div> <!-- /container -->
