<% help_title 'ISR - General Help' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
    <p class="lead">General Information on the Interface Status Register (ISR)</p>
    <h3>Overview</h3>
    <p>The ISR (Interface Status Register) collects all information required for the project's
    Interface Management. It supports the responsible Interface Manager (IFM) to guide and control
    all tasks during the Interface Management processes. Further process participants are the
    Interface Leader (IFL) and the Interface Partner (IFP). Other users may have access to the status
    information or details of the interface.</p>
    <h3>Principles</h3>
    <p>There are two major levels of Interface Management implemented here: <strong>Interfaces</strong>
    (IF - elsewhere called 'Interface Points' (IP)) and <strong>Interface Agreements (IA)</strong>. One
    IF defined during project planning (bid phase) may become one or more IA during project execution.
    The interface partners could be consortium partners during the bid phase (an IF definition would be
    an agreement between consortium partners). Later in the project, that IF would become an IA between
    specific project groups or subcontractors, for all or specific locations where this IF applies to.
    For example:</p>

    <%= help_footer FEATURE_ID_ISR_INTERFACES %>
  </div> <!-- /container -->
