<% help_title 'PCP How to 02' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_02' ) %>
    <p class="lead">You have a list of items (observations, issues, comments) on a document or
    drawing and someone wrote responses on all or some of these items. And you were given the
    task to enter these responses into the pmodbase application.</p>
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
