<% help_title 'PCP How to 14' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_14' ) %>
    <p class="lead">...</p>
    <p>...</p> 
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
