<% help_title 'PCP How to 05' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_05' ) %>
    <p class="lead">You are about to take over a site from another project group and would like
      to use the Present-Comment Process (PCP) Feature of the pmodbase application.</p>
    <p>This help page assumes that the other party is not using pmodbase and but you would
    like to collect your observations in pmodbase and trace their resolution until any
    issues or problems on the site are resolved.</p>
    <p>In this case, the other project group would be the Presenting Group, and you the
    Commenting Group in the PCP. The procedure is very similar to the one explained in
    <%= link_to_help :pcp_how_to_04, t( 'pcp_help.pcp_how_to_04' )-%>: You need to
    create a PCP Subject for the site and then release it; in this case not to another
    group but to your own group.</p>
    <p>The difference is that you will act on behalf of the other project group during
    the initial preparation of the PCP. This means that during creation of the PCP Subject
    you need to define your own group as 
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
