<% help_title 'PCP How to xx' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_xx' ) %>
    <p class="lead"></p>
    <p>I assume for the following that you are the owner or the author of that document (or
      drawing). This help text explains in detail which steps you need to take in order to
      perform the PCP on that document (or drawing).</p>
    <ul>
      <li>In the following, the document (or drawing) to be reviewed will be named 'PCP Subject'
        from hereon: A PCP Subject is either a document, a drawing, or any other item undergoing
        the Present-Comment-Process.</li> 
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
