<% help_title 'PCP How to 11' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_11' ) %>
    <p class="lead">Setting up the Present-Comment Process (PCP) for your project is really not
    very complicated: The following hints help you get started quickly.</p>
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
