<% help_title 'PCP How to 14' %>
  <div class="container">
    <%= helpcrumbs %>
    <%= help_header 'PCP - ' + t( 'pcp_help.pcp_how_to_14' ) %>
    <p class="lead">You received a list of comments on your document, you have prepared responses
    for all these comments. What do you need to do to start the next round of review?</p>
    <p>...</p> 
    <%= help_footer FEATURE_ID_HELP_PAGES %>
  </div> <!-- /container -->
