<% help_title 'Help on Database Statistics' -%>
<div class="container">
    <%= helpcrumbs %>
    <%= help_header %>
  <p class="lead">This shows some counts of selected records in the PMO database.</p>
  <p>The pmodbase application stores all information in a records of various types,
    roughly corresponding to the various features implemented.</p>
  <p>The number shown as 'Total' represents the total number of records of the
    given type in the pmodbase database. Any sub-categories are labeled as such and
    contain the respective number of records in that sub-category.</p>
  <%= help_footer FEATURE_ID_DBSTATS %>
</div>