<%#
=begin

 this partial is to be used for show views: it inserts a alert block

 Example:

 < %= render partial: 'shared/alert' % >
 
=end
%>

    <% if flash[:alert] %>
    <div class="form-group">
      <label class="<%= %Q(control-label col-sm-#{ BT_COL_WIDTH_LABELS }) %>"><%= t( 'general.alert' ) %></label>
      <div class="col-sm-4">
        <p class="btn-lg bg-info"><%= flash[ :alert ] -%></p>
      </div>
    </div>
    <% end %>
