<%#
=begin

 this partial is to be used for any views to insert the error message block;
 use the object parameter to pass any object containing the array with the
 error messages

 Example:

 < %= render partial: 'shared/errors', object: model.errors % >
 < %= render partial: 'shared/errors', object: form_builder_object.object.errors % >
 
=end
%>

    <%- if errors.any? %>
    <div class="form-group">
      <label class="<%= %Q(control-label col-sm-#{ BT_COL_WIDTH_LABELS }) %>"><%= t( 'general.errors' ) %></label>
      <div class="col-sm-4">
        <% errors.full_messages.each do |m| %>
          <p class="btn-lg bg-danger"><%= m %></p>
        <% end %>
      </div>
    </div>
    <%- end %>
