<%#
=begin

 this partial inserts the default footer line for all types of pages;
 the feature_id is picked up from the controller's setting, UNLESS
 you choose to replace this value by a local variable passed to this
 partial.

 Example (from User view)

 < %= render partial: 'shared/footer',
   locals: { feature_identifier: FEATURE_ID_XYZ, cr_details: 'here' } % >

=end
-%>

<hr/>
<p class="hidden-print">&copy; Wilfried R&ouml;mer 2014-2016&nbsp;|
  All Rights Reserved&nbsp;|
  <%- unless feature_identifier == FEATURE_ID_HOME_PAGE -%>
    <%= link_to_cr( 'Request a Change', feature_identifier, ( defined?( cr_details )&& cr_details )) -%>&nbsp;| 
  <%- end -%>
  <%= link_to_help( feature_help_file, t( 'button_label.help' ))-%></p>
