      <!-- Heading for Cfr Relations -->
      <div class="form-group hidden-xs hidden-sm" style="margin-bottom:0px">
        <div class="col-sm-1"><label><%= t( 'people.action' ) if action_name == :edit %></label></div>
        <div class="col-sm-offset-2 col-sm-4"><label><%= t( 'cfr_records.form.r_heading' )%></label></div>
      </div>
      <!-- Divider Line -->
      <div class="form-group">
        <hr style="margin:0px"/>  
      </div>
