        <div class="form-group">
          <label class="col-sm-3 control-label"><%= t( '.stats' )%></label>
            <p class="form-control-static col-sm-2">
              <%= "#{ @pcp_item_count } = #{ @pcp_item_stats.join(' / ')}" %></p>
            <p class="form-control-static col-sm-4">
              <%= t ( '.stats_tag' )%></p>
            </p>
        </div>
