/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *  require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-datepicker3.min
 *  require jquery-ui
 */

.navbar{
  margin-bottom: 0px !important;
}

.form-title {
  margin-top:     10px;
  margin-bottom:  20px;
}

.form-title-sm {
  margin-top:     10px;
  margin-bottom:   5px;
}

.add-subform-button, .del-subform-button {
  font-weight: bold;
}

.tr-bold {
  font-weight: bold;
}

.th-right, .td-right {
  text-align: right;
}

.th-center {
  text-align: center;
}

th, td {
  white-space: normal !important;
}

.td-subtitle {
  border-right-style: hidden !important;
  border-left-style: hidden  !important;
  font-weight: bold;
}

ol.upper-alpha { list-style-type: upper-alpha; }
ol.lower-alpha { list-style-type: lower-alpha; }

/* replacement for control-label */

p.p-label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  }

@media (min-width: 768px){
  p.p-label {
    text-align: right;
    margin-bottom: 10px;
  }
}

/* replacement for form-group */

div.p-group {
  margin-bottom: 0px;
}

/* horizontal line with small border */

hr.hr-small {
  margin-top: 5px;
  margin-bottom: 15px;
  }

/* remove url from links when printing */

@media print {
	a[href]:after {
		content: none !important;
	}
}