/* layout for all (try wysiwyg)
 *= require_self
*/

  * {
    font-family: arial,verdana,sans-serif;
    font-size: 12pt;
    line-height: 120%;
    direction: ltr;
    text-align: left;
    orphans: 2;
    widows: 2;
    }
  h1  { font-size: 18pt; }
  h2  { font-size: 16pt; }
  h3  { font-size: 14pt; }
  table, td, th
    {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    padding-left: 0cm;
    padding-right: 0.5cm;
    }
  td.row-head
    {
    white-space: nowrap;
    vertical-align: text-top;
    }
  .with-lines
    {
    border: 0.05pt solid grey;
    padding-left: 0.2cm;
    font-size: 11pt;
    }
  .no-lines
    {
    border: none;
    }
  .right
    {
    text-align: right;
    }
  .small
    {
    font-size: 9pt;  
    }
  caption
    {
    font-size: 140%;
    font-weight: bold;
    border: 0.05pt solid grey;
    border-bottom: none;
    line-height: 100%;
    padding: 0.2cm;
    }

@media screen
  {
  body
    {
    margin-top: 1.5cm;  
    margin-left: 2.0cm;
    }
  #nav
    {
    position: absolute;
    top: 0.5cm;
    }
  }

@media print
  {

  /* general page layout */

  @page
    {
    margin-top: 1.5cm;
    margin-bottom: 1.5cm;
    margin-left: 2.0cm;
    margin-right: 1.5cm;
    size: A4 landscape;
    }

  h1, h2, h3, h4, h5, h6
    {
    page-break-after:avoid;
    page-break-inside:avoid
    }
 
  img
    {
    page-break-inside:avoid;
    page-break-after:avoid;
    max-width: 100% !important;    
    }
 
  blockquote, table, pre
    {
    page-break-inside:avoid
    } 
 
  ul, ol, dl
    {
    page-break-before:avoid
    }
  
  .no-print
    {
    display: none; 
    }

  /* use this class attribute to force a page break
     for example, <div class="page-break"></div>    */

  .page-break
    {
    display: block;
    page-break-before: always
    }

  }
